body {
  padding-top: 10rem;
}

.pointer {
  cursor: pointer;
}

.bump-right {
  margin-right: 10px;
}
.bump-left {
  margin-left: 10px;
}

.navbar-toggler {
  border: 1px solid hsl(208, 98%, 43%) !important;
}
